beautifulsoup4==4.12.3
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
googleapis-common-protos==1.56.1
grpcio==1.64.0
grpcio-status==1.64.0
idna==2.8
numpy==2.0.2
pandas==2.2.3
protobuf==5.27.0
py4j==0.10.9.7
pyarrow==16.1.0
PyGObject==3.36.0
pyspark==3.5.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
soupsieve==2.5
tzdata==2024.1
urllib3==1.25.8
Faker==30.0.0
ruff==0.6.8
deltalake==0.20.2
